@import "config";

/* CHECKBOX */
.chk-base {
	transition: opacity 0.2s;
	display: inline-block;
	vertical-align: middle;
	label {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		min-width: 16px;
		min-height: 16px;
		line-height: 18px;
		padding-left: 26px;
		font-size: 14px;
		color: #999;
		&:before {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			background: url($img-comm-path + "filter_sprite.png") 0 0 no-repeat;
			position: absolute;
			top: 0;
			left: 0;
		}
		&.on {
			color: #333;
			&:before {
				background: url($img-comm-path + "filter_sprite.png") 0 -16px no-repeat;
			}
		}
	}
	&.disabled {
		opacity: 0.4;
		pointer-events: none;	
	}
	&.tp2 {
		label {
			min-width: 22px;
			font-size: 13px;
			color: #222;
			line-height: 24px;
			padding-left: 32px;
			&:before {
				width: 22px;
				height: 22px;
				background: url($img-comm-path + "uniform_sprite.png") 0 0 no-repeat;
			}
			&.on {
				&:before {
					background: url($img-comm-path + "uniform_sprite.png") 0 -22px no-repeat;
				}
			}
		}
		&.disabled {
			label {
				&:before {
					background: url($img-comm-path + "uniform_sprite.png") 0 -44px no-repeat;
				}
				&.on:before{
					background: url($img-comm-path + "uniform_sprite.png") 0 -66px no-repeat;
				}
			}
		}
	}
}
.chk-list {
	margin-top: 10px;
	li {
		margin-top: 10px;
		&:first-child {
			margin-top: 0;
		}
	}
}
.radio-base {
	transition: opacity 0.2s;
	display: inline-block;
	vertical-align: middle;
	label {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		min-width: 22px;
		min-height: 22px;
		line-height: 24px;
		padding-left: 26px;
		font-size: 16px;
		color: #999;
		&:before {
			content: '';
			display: block;
			width: 22px;
			height: 22px;
			background: url($img-comm-path + "uniform_sprite.png") -23px 0 no-repeat;
			position: absolute;
			top: 0;
			left: 0;
		}
		&.on {
			&:before {
				background: url($img-comm-path + "uniform_sprite.png") -23px -22px no-repeat;
			}
		}
	}
}
.radio-base.disabled {
	opacity: 0.4;
	pointer-events: none;
	label {
		&:before {
			background: url($img-comm-path + "uniform_sprite.png") -23px -44px no-repeat;
		}
		&.on:before {
			background: url($img-comm-path + "uniform_sprite.png") -23px -66px no-repeat;
		}
	}
}
.form-list {
	>li {
		margin-top: 10px;
		&:first-child {
			margin-top: 0;
		}
	}
}
.input-base {
	width: 100%;
	padding: 15px 14px 14px;
	@include sd-border(1px, #ddd);
	color: #333;
	font-size: 16px;
	font-weight: 500;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	&:focus {
		@include sd-border(2px, $major-color);
		padding: 14px 13px 13px;
	}
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder {
		color: #999;
		opacity: .7;
	}
	&[disabled]{
		background: #f4f4f4;
		color: #999;
		opacity: .7;
	}
}
.input-area {
	display: block;
	position: relative;
	width: 414px;
	height: 55px;
	padding: 15px 14px 14px;
	@include sd-border(1px, #ddd);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	.label {
		font-size: 12px;
		color: #999;
		position: absolute;
		left: 15px;
		top: 7px;
	}
	.placeholder {
		color: #999;
		font-size: 16px;
		position: absolute;
		left: 15px;
		bottom: 5px;
	}
	.input-base {
		padding: 0;
		border: 0;
		opacity: 0;
		width: 100%;
	}
	&.focus {
		@include sd-border(2px, $major-color);
		padding: 14px 13px 13px;
	}
	&.on {
		.label {
			display: none;
		}
		.placeholder {
			display: none;
		}
		.input-base {
			opacity: 1;
		}
	}
}
.select-base {
	display: block;
	position: relative;
	.label {
		margin: 0;
		padding: 16px 40px 15px 14px;
		background: #fff;
		box-sizing: border-box;
		display: block;
		z-index: 1;
		font-size: 16px;
		color: #333;
		line-height: inherit;
		height: auto;
	}
	.button {
		display: block;
		position: absolute;
		top: 20px;
		right: 16px;
		width: 17px;
		height: 10px;
		background: url($img-comm-path + 'btn_up.svg') 0 0 no-repeat, linear-gradient(transparent, transparent);
		background-size: 17px 10px;
		-webkit-background-size: 17px 10px;
		&:after { 
			display: none;
		}
	}
	.selectric-above .selectric-items {
		background: #fff;
		bottom:55px;
	}
	.selectric-disabled {
		.label {
			background: #f4f4f4;
			color: #999;
		}
	}
}
.selectric {
	&:before {
		// z-index: 1;
	}
}
.btns-wrap {
	font-size: 0;
	&.center {
		text-align: center;
	}
	&.right {
		text-align: right;
	}
	.btn-base {
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
	}
}
.btn-base {
	display: inline-block;
	vertical-align: middle;
	button, input {
		background-color: transparent;
		border: 0;
		padding: 0;
		cursor: pointer;
		outline: none;
		-webkit-appearance: none;
	}
	a, input, button {
		display: block;
		vertical-align: middle;
		padding: 7px 13px;
		font-size: 14px;
		font-weight: 400;
		transition: background .2s, color .2s;
		min-width: 27px;
		text-align: center;
		width: auto;
		border-radius: 5px;
	}
	&.tp1 {
		a, input, button {
			background: #666;
			color: #fff;
			&:hover {
				background: #333;
			}
		}
	}
	&.tp2 {
		a, input, button {
			font-size: 13px;
			color: #333;
			background: #fff;
			@include sd-border(1px, #ccc);
			&:hover {
				background: #efefef;
			}
		}
	}
	&.tp3 {
		a, input, button {
			font-size: 13px;
			color: #333;
			background: #fff;
			@include sd-border(1px, #ccc);
			&:hover {
				background: #efefef;
			}
		}
	}
}

/* POPUP */
.popup-wrap {
	position: relative;
	margin: 30px auto;
	max-width: 860px;
	padding: 20px;
	background: #fff;
	@at-root .fade-slideup & {
		opacity: 0;
		transition: all 0.3s ease-out;
		transform: translateY(100%);	
	}
	@at-root .fade-slideup.mfp-ready & {
		opacity: 1;
		transform: translateY(0);
	}
	@at-root .fade-slideup.mfp-removing & {
		opacity: 0;
		transform: translateY(100%);
	}
}
.mfp-zin, .mfp-slide-b {
	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.3s ease-out;
		&.mfp-ready {
			opacity: .8;
		}
		&.mfp-removing {
			opacity: 0;
		}
	}
}
.mfp-zin {
	.z-anim {
		opacity: 0;
		transition: all 0.2s ease-in-out; 
		transform: scale(0.8); 
	}
	&.mfp-ready .z-anim {
		opacity: 1;
		transform: scale(1); 
	}
	&.mfp-removing .z-anim {
		transform: scale(0.8); 
		opacity: 0;	
	}
}
.mfp-slide-b {
	.z-anim {
		opacity: 0;
		transition: all 0.2s ease-out; 
		transform: translateY(-20px) perspective(600px) rotateX(10deg);
	}
	&.mfp-ready .z-anim {
		opacity: 1;
		transform: translateY(0) perspective(600px) rotateX(0); 
	}
	&.mfp-removing .z-anim {
		opacity: 0;
		transform: translateY(-10px) perspective(600px) rotateX(10deg); 
	}
}

/* CALENDAR */
/* 검색 UI 팝업 - datepicker */
.uis-datepicker .ui-datepicker {margin:0;padding:25px 30px 30px 30px;border:0;}
.uis-datepicker .ui-datepicker * {margin:0;padding:0;border:0;background:none;text-align:center;color:#000;font-weight: bold;}
.uis-datepicker .ui-datepicker-multi {width: 100% !important;}
.uis-datepicker .ui-datepicker-multi:after {content: '';display: block;clear:both;}
.uis-datepicker .ui-datepicker-multi-2 .ui-datepicker-group {float: left;width: 50% !important;}
.uis-datepicker .ui-datepicker-header {padding-bottom:25px;background-color: #fff;position: relative;z-index: 10;}
.uis-datepicker .ui-datepicker-header a {cursor: pointer;}
.uis-datepicker .ui-datepicker-header .ui-state-disabled {opacity:0.5;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-title span {font-size:18px;font-family:"NotoSansKR" !important;font-weight: 400;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-prev span {display:inline-block;width:14px;height:26px;text-indent:-9999px;background: url($img-comm-path + "icon-common-sec.png") -70px -304px no-repeat;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-next span {display:inline-block;width:14px;height:26px;text-indent:-9999px;background: url($img-comm-path + "icon-common-sec.png") -89px -304px no-repeat;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-prev {position:absolute;top: 125px;left:-3px;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-next {position:absolute;top: 125px;right:-3px;}
.uis-datepicker .ui-datepicker-calendar {width: 92%;margin: 0 auto;table-layout: fixed;position: relative;z-index: 10;}
.uis-datepicker .ui-datepicker-calendar thead tr th, .uis-datepicker .ui-datepicker-calendar tbody tr td {text-align: center;position: relative;}
.uis-datepicker .ui-datepicker-calendar thead tr th span {display:inline-block;font-size:12px;width: 40px;height:auto;padding-bottom: 10px;text-indent:0;}
.uis-datepicker .ui-datepicker-calendar tbody tr td {vertical-align: middle;}
.uis-datepicker .ui-datepicker-calendar thead tr th .Sunday,
.uis-datepicker .ui-datepicker-calendar tbody tr td.date-sunday *,
.uis-datepicker .ui-datepicker-calendar tbody tr td.date-holiday * {color: #ff3333 !important;}
.uis-datepicker .ui-datepicker-calendar thead tr th .Saturday,
.uis-datepicker .ui-datepicker-calendar tbody tr td.date-saturday * {color: #2c5ade !important;}
.uis-datepicker .ui-datepicker-calendar tbody tr td a,
.uis-datepicker .ui-datepicker-calendar tbody tr td span {display: block;width:40px !important;height:40px !important;line-height:40px !important;margin: 0 auto;color:#000;font-size:14px;position: relative;}
.uis-datepicker .ui-datepicker-calendar tbody tr td.ui-state-disabled {opacity: 0.4;}
/*.uis-datepicker .ui-datepicker-calendar tbody tr td .ui-state-default,*/
.uis-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-today .ui-state-default {background: none;color: #000;border:0;}
.uis-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-today span:before,
.uis-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-today a:before {content: 'Today';width: 100%;font-size:12px;color: #f2006b;text-align: center;position: absolute;left: 0;bottom: -14px;}
/*.uis-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-today .ui-state-active:before {font-size:0;}*/
.uis-datepicker .ui-datepicker-calendar tbody tr td .ui-state-hover {background-color: #eee;}
/*.uis-datepicker .ui-datepicker-calendar tbody tr td .ui-state-active {background-color: #f30774 !important;color: #fff !important;border-radius: 3px;}*/
/* highlight date1, date2 */
.uis-datepicker .dp-highlight {position: relative;}
.uis-datepicker .dp-highlight.ui-datepicker-today a:before {font-size:0 !important;}
.uis-datepicker .dp-highlight .ui-state-default {background-color: #f30774 !important;color: #fff !important;border-radius: 3px;}
.uis-datepicker .dp-highlight .ui-state-hover {background: none;}
.uis-datepicker .dp-highlight.pd-between .ui-state-default {background: none !important;color: #000 !important;border-radius: 0;}
.uis-datepicker .dp-highlight.pd-between:after {display: none;}
.uis-datepicker .dp-highlight.pd-between:before,
.uis-datepicker .dp-highlight.dp-first:before,
.uis-datepicker .dp-highlight.dp-end:before {content:'';display:block;width:100%;height:30px;position:absolute;left:0;top:5px;background: #fde9f1;z-index:0;}
.uis-datepicker .dp-highlight.dp-first:before {left: 10px;width: 90%;}
.uis-datepicker .dp-highlight.dp-end:before {left: -5px;width: 90%;}
.uis-datepicker .dp-highlight.dp-first.ui-datepicker-today:before {font-size:0 !important;left: 10px !important;bottom: 0 !important;}
.uis-datepicker .dp-highlight.dp-first .ui-state-default:after {content:'';display:block;height:100%;position:absolute;top:0;right:-11px;z-index:1;width:0;height:0;
border-top:20px solid transparent;
border-bottom:20px solid transparent;
border-right:0;
border-left:13px solid #f30774;
}
.uis-datepicker .dp-highlight.dp-end .ui-state-default:after {content:'';display:block;height:100%;position:absolute;top:0;left:-12px;z-index:1;width:0;height:0;
border-top:20px solid transparent;
border-bottom:20px solid transparent;
border-right:13px solid #f30774;
border-left:0;
}
.o-shuttle .uis-datepicker .dp-highlight:after,
.o-oneway .uis-datepicker .dp-highlight:after,
.o-shuttle .uis-datepicker .dp-highlight.dp-first:after {content: '출발';width:100%;font-size:11px;letter-spacing:-1px;color:#fff;text-align:center;position:absolute;left:0;bottom:-1px;z-index:1;}
.o-shuttle .uis-datepicker .dp-highlight.dp-end:after {content: '도착';width:100%;font-size:11px;letter-spacing:-1px;color:#fff;text-align:center;position:absolute;left:0;bottom:-1px;z-index:1;}
.o-shuttle .uis-datepicker .dp-highlight.dp-same:after {content: '출/도착';width:100%;font-size:11px;letter-spacing:-1px;color:#fff;text-align:center;position:absolute;left:0;bottom:-1px;z-index:1;}
.o-inth .uis-datepicker .dp-highlight:after,
.o-domh .uis-datepicker .dp-highlight:after,
.o-inth .uis-datepicker .dp-highlight.dp-first:after,
.o-domh .uis-datepicker .dp-highlight.dp-first:after {content: '체크인';width:100%;font-size:11px;letter-spacing:-1px;color:#fff;text-align:center;position:absolute;left:0;bottom:-1px;z-index:1;}
.o-inth .uis-datepicker .dp-highlight.dp-end:after,
.o-domh .uis-datepicker .dp-highlight.dp-end:after {content: '체크아웃';width:100%;font-size:11px;letter-spacing:-1px;color:#fff;text-align:center;position:absolute;left:0;bottom:-1px;z-index:1;}
/* highlight 다구간 */
.uis-datepicker .dp-highlight-md {position: relative;}
.uis-datepicker .dp-highlight-md.ui-datepicker-today a:before {font-size:0 !important;}
.uis-datepicker .dp-highlight-md .txt {width: 100%;font-size:11px;color: #fff;text-align: center;position: absolute;left: 0;bottom: -1px;z-index: 1;}
.uis-datepicker .dp-highlight-md .ui-state-default {background-color: #f30774 !important;color: #fff !important;border-radius: 3px;z-index: 1;}
.uis-datepicker .dp-highlight-md .ui-state-hover {background: none;}
.uis-datepicker .dp-highlight-md.pd-between .ui-state-default {background: none !important;color: #000 !important;border-radius: 0;}
.uis-datepicker .dp-highlight-md.pd-between:before {content:'';display:block;width:110%;height:30px;position:absolute;left:50%;margin-left: -55%;top:5px;background: #fde9f1;z-index:0;}
.uis-datepicker .dp-highlight-md.dp-first.ui-datepicker-today:before {font-size:0 !important;left: 10px !important;bottom: 0 !important;}
.o-multiway .list-cont li {display: none;margin-bottom: 12px;}
.o-multiway .list-cont li.on {display: block;}
.o-multiway .list-cont .md-2 .btn-add {display: none;}

.b-add-multiway {
	&.disabled {

	}
}
.ui-calendar {
	background: #fefefe;
	border:1px solid #ddd;
	width: 770px;
	z-index: 10;
	@include radius(6px);
	@at-root .search-box.o-multiway {
			position: relative;
			.ui-calendar {
					position: absolute;
					left: 0;
					top: 0;
					transition: opacity .2s, visibility .2s;
					box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
					opacity: 0;
					visibility: hidden;
					&.on {
							opacity: 1;
					visibility: visible;
					}
			}
			.list-cont li {
					position: relative;
					padding: 10px;
					@include sd-border(1px, #ddd);
					@include radius;
			}
	}
}

/* TOOLTIP */
.tooltip {
	transition: opacity 0.2s;
	font-size: 10px;
	font-weight: 500;
	color: #fff;
	background: #333;
	border-radius: 5px;
	padding: 10px;
	max-width: 140px;
	&:after { 
		content: ''; 
		position: absolute; 
		width: 0; 
		height: 0; 
	}
	&-bottom {
		margin-top: 10px;	
		&:after {
			border-bottom: 10px solid #333;
			top: -10px;
		}
	}
	&-top {
		margin-top: -10px;
		&:after {
			border-top: 10px solid #333;
			bottom: -10px;
		}
	}
	&-bottom:after, &-top:after {
		border-left: 5px solid transparent; 
		border-right: 5px solid transparent;
		left: 50%;
		margin-left: -5px;
	}
	&-left {
		margin-left: -10px;
		&:after {
			border-left: 10px solid #333;
			right: -10px;
		}
	}
	&-right {
		margin-left: 10px;
		&:after {
			border-right: 10px solid #333;
			left: -10px;
		}
	}
	&-left:after, &-right:after {
		border-top: 5px solid transparent; 
		border-bottom: 5px solid transparent;
		top: 50%;
		margin-top: -5px;
	}
}

/* COUNTER */
.num-ctn {
	font-size: 0;
	.b-minus, .b-plus {
		display: inline-block;
		width: 28px;
		height: 28px;
		transition: background .2s;
		vertical-align: middle;
	}
	.b-minus {
		background: #eee url($img-comm-path + 'cnt-minus.svg') 50% 50% no-repeat;
		&:hover {
			background: #0086c9 url($img-comm-path + 'cnt-minus-on.svg') 50% 50% no-repeat;
		}
	}
	.b-plus {
		background: #eee url($img-comm-path + 'cnt-plus.svg') 50% 50% no-repeat;
		&:hover {
			background: #0086c9 url($img-comm-path + 'cnt-plus-on.svg') 50% 50% no-repeat;
		}
	}
	input {
		font-size: 18px;
		color: #999;
		width: 39px;
		height: 28px;
		line-height: 28px;
		vertical-align: middle;
		text-align: center;
		outline: none;
		border: 0;
		&.active {
			color: #333;
		}
	}
}
.o-scrollbar {
	padding-right: 15px;
	.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical {
		margin: 0;
	}
	.mCSB_scrollTools {
		opacity: 1 !important;
		width: 6px;
		height: 98%;
		top: 1%;
		.mCSB_dragger {
			.mCSB_dragger_bar {
				width: 6px;
			}
		}
	}
	.mCSB_container {
		width: 100%;
	}
}

/* LIST */
.list-item {
	overflow: hidden;
	width: 1220px;
	margin: 0 auto;
	position: relative;
	left: -10px;
	li {
		float: left;
		width: 285px;
		border-radius: 5px;
		margin: 30px 10px 0;
		background: #fff;
		transition: all 0.2s;
		cursor: pointer;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			margin-top: 0;
		}
		a {
			display: block;
			height: 190px;
			outline: none;
		}
		.photo {
			position: relative;
			height: 190px;
			border-radius: 5px 5px 0 0;
			background-repeat: no-repeat !important;
			background-size: cover !important;
			background-position: 50% 50% !important;
		}
	}
}
.list-slick {
	position: relative;
	.list-item {
		left: 0;
		width: $min-width;
		li {
			margin: 0 20px 0 0;
		}
	}
	.slick-arrow {
		width: 12px;
		height: 21px;
		position: absolute;
		top: 50%;
		font-size: 0;
		text-indent: -20000px;
		margin-top: -10.5px;
		outline: none;
		transition: background .2s;
	}
	.slick-prev {
		background: url($img-comm-path + 'arrow-b-l.svg') 0 0 no-repeat;
		left: -40px;
		&:hover {
			background: url($img-comm-path + 'arrow-blue-l.svg') 0 0 no-repeat;
		}
	}
	.slick-next {
		background: url($img-comm-path + 'arrow-b-r.svg') 0 0 no-repeat;
		right: -40px;
		&:hover {
			background: url($img-comm-path + 'arrow-blue-r.svg') 0 0 no-repeat;
		}
	}
}