@import "config";

#wrap.guide-wrap {
	min-width: $min-width;
}
#content.guide-sec {
	margin-top: 0;
	max-width: $min-width;
	width: 96%;
	padding-bottom: 60px;
}
.guide-sec {
	.guide-tit {
		width: 100%;
		box-sizing: border-box;
		margin-top: 0;
		padding: 10px;
		border-bottom: 2px solid #000;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		h1 {
			float: left;
            font-size: 24px;
            font-weight: bold;
            color: #000;
		}
		.btns-wrap {
			float: left;
			vertical-align: middle;
			display: inline-block;
			margin-left: 10px;
			margin-top: 5px;
		}
		.btn-base {
			a {
				color: $major-color;
				background: #ffffff;
				@include sd-border(1px, #0085c9);
				padding: 4px 12px;
				border-radius: 5px;
				box-sizing: border-box;
				&:hover {
					color: #ffffff;
					background: $major-color;
				}
			}
		}
		.btn-base.on {
			a {
				color: #ffffff;
				background: $major-color;
			}
		}
	}
	h1 {
		em {
			font-size: 26px;
			color: rgb(0, 133, 201);
			margin-left: 10px;
		}
	}
	.tit {
		font-size: 20px;
		margin-bottom: 10px;
		text-transform: uppercase;
		color: #000;
		span {
			font-size: 16px;
			text-transform: initial;
		}
	}
	.guide-box {
		margin-top: 60px;
		position: relative;
		&.wide {
			width: $min-width + 20px;
			left: 50%;
			margin-left: -($min-width + 20px)/2
		}
		.gb-inner.bg {
			background: #f2f2f2;
		}
		.gb-inner {
			padding: 10px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
			background: #fff;
			border-radius: 3px;
			.chk-base {
				margin-right: 10px;
			}
			.ui-term-tit {
				.chk-base {
					margin-right: 0;
				}
			}
			.radio-base {
				margin-right: 10px;
			}
		}
	}
	.info-list {
		margin-bottom: 5px;
		li {
			margin-top: 5px;
			font-size: 14px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.info-txt {
		font-size: 14px;
		color: #fff;
		position: relative;
		top: 2px;
	}
	.list-item-slick {
		.c-slick-dots {
			top: -35px;
			background: #000;
			padding: 5px;
			border-radius: 3px;
		}
	}
	.guide-box#radio-list {
		.gb-inner {
			.radio-base {
				margin-right: 0;
			}
		}
	}
	.over-inner {
		background-color: #00b290;
	}
	.lbr-st2 {
		span {
			background-color: #00b290;
		}
	}
	.CodeMirror {
		height: auto;
		margin: 0 0 20px;
		font-size: 11px;
		font-family: '맑은 고딕','Malgun Gothic', sans-serif;
		z-index: 0;
		margin-top: 10px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
		border-radius: 3px;
		* {
			line-height: 1.6 !important;
		}
	}
}
.guide-copy {
	padding: 15px 0;
	border-top: 1px solid #000;
	color: #000;
	margin-top: 150px;
	text-align: right;
}
.guide-menu {
	position: fixed;
	right: 10px;
	top: 10px;
	width: 180px;
	padding: 10px;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	z-index: 999;
	right: 10px;
	top: 10px;
	box-sizing: border-box;
	h2 {
		padding-bottom: 10px;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		border-bottom: 1px solid #000;
		span {
			font-size: 11px;
		}
	}
	.guide-sch {
		margin-bottom: 10px;
		.input-base {
			border: 0;
			margin-top: 10px;
			padding: 10px;
			background: #eee;
			width: 100%;
			font-size: 14px;
		}
	}
	.inner {
		max-height: 335px;
		overflow: hidden;
	}
	li {
		margin-top: 5px;
		font-size: 13px;
		a {
			color: #999;
			&:hover {
				color: #000;
			}
		}
	}
	li.on {
		a {
			color: $major-color;
			text-decoration: underline;
		}
	}
	.btn-base {
		display: inline-block;
		margin: 10px auto 0;
	}
	.mCSB_scrollTools {
		opacity: 1 !important;
		width: 6px;
		height: 98%;
		top: 1%;
		.mCSB_dragger {
			.mCSB_dragger_bar {
				width: 6px;
			}
		}
	}
	.mCSB_container {
		width: 100%;
	}
	&.v-mini {
		width: 10px;
		height: 10px;
		overflow: hidden;
		background: $major-color;
		cursor: pointer;
		transition: width .3s, height .3s, background .2s;
		border-radius: 10px;
		a.v-max {
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 0;
			text-indent: -20000px;
		}
		h2 {
			display: none;
		}
	}
}
.code-btn {
	position: absolute;
	right: 10px;
	top: 0;
}
.gb-inner.half+.code-btn {
	right: 600px;
}
.code-btn.btn-base {
	a {
		background: #000;
		border-radius: 3px;
		font-size: 12px;
		color: #fff;
	}
}
.btn-base {
	a.b-toggle {
		background: #000;
		border-radius: 3px;
		font-size: 12px;
		padding: 5px 24px;
	}
	a.b-mini {
		background: #000;
		border-radius: 3px;
		font-size: 12px;
		padding: 5px 24px;
	}
}
.guide-panel {
	min-height: 600px;
}
#guide-ui {
	display: none;
}
#guide-map {
	display: none;
	margin-top: 60px;
}
.coding-map {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	.row {
		width: 100%;
		display: table;
		& > li {
			box-sizing: border-box;
			width: 12%;
			display: table-cell;
			vertical-align: middle;
			background: #fff;
			color: #000;
			border-left: 1px solid #ccc;
			font-size: 14px;
			border-bottom: 1px solid #ccc;
			&:first-child {
				border-left: 0;
			}
			&:nth-child(7) {
				width: 16%;
				span {
					color: $major-color;
				}
			}
			&:last-child {
				padding: 10px;
			}
			&.nbd {
				border-bottom: 0;
			}
			span, a {
				box-sizing: border-box;
				padding: 10px;
				width: 100%;
				
				display: block;
				vertical-align: middle;
				&.label {
					color: #fff;
					background: #000;
					text-align: center;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
			a {
				border-radius: 3px;
			}
			.complete {
				background: $major-color;
				@include sd-border(1px, #0085c9);
				color: #fff;
				font-weight: 500;
				text-align: center;
				transition: background .2s, color .2s;
				&:hover {
					background: #fff;
					color: $major-color;
				}
			}
		}
	}
	& > li:first-child {
		border-color: #000;
	}
	& > li:first-child .row {
		border-top: 0;
		& > li:last-child {
			padding: 0;
		}
	}	
}

.s-tip {
	margin-left: 10px;
}